/* geist-400 - latin */
@font-face {
  font-display: block;
  font-family: "Geist";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Geist-Regular.ttf") format("truetype");
}
/* geist-500 - latin */
@font-face {
  font-display: block;
  font-family: "Geist";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Geist-Medium.ttf") format("truetype");
}
/* geist-700 - latin */
@font-face {
  font-display: block;
  font-family: "Geist";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Geist-Bold.ttf") format("truetype");
}
