/* montserrat-400 - latin */
@font-face {
  font-display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}
/* montserrat-500 - latin */
@font-face {
  font-display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
}
/* montserrat-700 - latin */
@font-face {
  font-display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
}
